:root {
    --main-font-color: #d6d7d8;
    --main-background: #2c3758;
    --border-color: #000000;
    --selection-color: rgb(87, 19, 19);
    --scrollbar-track-color: #1d232c;
    --scrollbar-thumb-color: #2a5688;
    --scrollbar-thumb-hover-color: #3c7bc4;
    --header-background-color: #15181a;
    --header-button-hover-color:hsl(0, 58%, 31%);
    --main-control-background-color: #15181a;
    --main-control-start-button-background-color: #2c3758;
    --main-control-start-button-hover-color:#447acc;
    --main-control-select-background-color: #2c3758;
    --main-control-hover-background-color:#447acc;
    --log-background: #15181a;
    --log-text-color: #d6d7d8;
    --log-text-warn-color: rgb(228, 155, 39);
    --log-text-error-color: rgb(192, 73, 73);
    --modal-box-background-color: rgba(0,0,0,0.6);
    --modal-box-content-background-color: #243855;
    --settings-background-color: #1d232c;
    --mod-card-background-color: #1d232c;
    --mod-card-info-font-color: #b3acac;
    --mod-card-disabled-border-color: #8b1717;
    --float-element-text-color: #b3acac;
    --float-element-hover-background-color: none;
    --control-secondary-background-color : transparent;
}

.mod-info {
    border-radius: 7px;
    min-width: 95%;
}

.mod-info:hover {
    background-color: #292F33;
    border-color: #292F33;
    min-width: 95%;
}